.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
}

.dashboard-container button {
  padding: 10px 20px;
  background-color: #ef940b;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard-container button:hover {
  background-color: #e7cd0e;
}

.dashboard-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
